<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.digitalCard.mapper.Tqrjh03Mapper">

    <!-- 基础结果集映射 -->
    <resultMap id="BaseResultMap" type="cn.iocoder.yudao.module.digitalCard.domain.Tqrjh03">
        <id property="internalCode" column="INTERNAL_CODE" jdbcType="VARCHAR"/>
        <result property="trustId" column="TRUST_ID" jdbcType="VARCHAR"/>
        <result property="deviceId" column="DEVICE_ID" jdbcType="VARCHAR"/>
        <result property="deviceName" column="DEVICE_NAME" jdbcType="VARCHAR"/>
        <result property="projectType" column="PROJECT_TYPE" jdbcType="VARCHAR"/>
        <result property="num" column="NUM" jdbcType="DECIMAL"/>
        <result property="numUnit" column="NUM_UNIT" jdbcType="VARCHAR"/>
        <result property="monoApplyformId" column="MONO_APPLYFORM_ID" jdbcType="VARCHAR"/>
        <result property="trustTime" column="TRUST_TIME" jdbcType="VARCHAR"/>
        <result property="reqDate" column="REQ_DATE" jdbcType="VARCHAR"/>
        <result property="entrustJobId" column="ENTRUST_JOB_ID" jdbcType="VARCHAR"/>
        <result property="checkJobId" column="CHECK_JOB_ID" jdbcType="VARCHAR"/>
        <result property="urgentDegree" column="URGENT_DEGREE" jdbcType="VARCHAR"/>
        <result property="repairReason" column="REPAIR_REASON" jdbcType="VARCHAR"/>
        <result property="mainFlag" column="MAIN_FLAG" jdbcType="VARCHAR"/>
        <result property="standardProjectId" column="STANDARD_PROJECT_ID" jdbcType="VARCHAR"/>
        <result property="standardProjectName" column="STANDARD_PROJECT_NAME" jdbcType="VARCHAR"/>
        <result property="standardConstructType" column="STANDARD_CONSTRUCT_TYPE" jdbcType="VARCHAR"/>
        <result property="constructType" column="CONSTRUCT_TYPE" jdbcType="VARCHAR"/>
        <result property="costCenterCode" column="COST_CENTER_CODE" jdbcType="VARCHAR"/>
        <result property="feeCat" column="FEE_CAT" jdbcType="VARCHAR"/>
        <result property="repairType" column="REPAIR_TYPE" jdbcType="VARCHAR"/>
        <result property="workCat" column="WORK_CAT" jdbcType="VARCHAR"/>
        <result property="estiConstructDate" column="ESTI_CONSTRUCT_DATE" jdbcType="VARCHAR"/>
        <result property="qualityLevel" column="QUALITY_LEVEL" jdbcType="VARCHAR"/>
        <result property="heightLevel" column="HEIGHT_LEVEL" jdbcType="VARCHAR"/>
        <result property="twoHighAccuracy" column="TWO_HIGH_ACCURACY" jdbcType="VARCHAR"/>
        <result property="safetyCardNum" column="SAFETY_CARD_NUM" jdbcType="DECIMAL"/>
        <result property="quotaId" column="QUOTA_ID" jdbcType="VARCHAR"/>
        <result property="quotaName" column="QUOTA_NAME" jdbcType="VARCHAR"/>
        <result property="totalMans" column="TOTAL_MANS" jdbcType="DECIMAL"/>
        <result property="totalHour" column="TOTAL_HOUR" jdbcType="DECIMAL"/>
        <result property="manFee" column="MAN_FEE" jdbcType="DECIMAL"/>
        <result property="machinetoolFee" column="MACHINETOOL_FEE" jdbcType="DECIMAL"/>
        <result property="smFee" column="SM_FEE" jdbcType="DECIMAL"/>
        <result property="totalFee" column="TOTAL_FEE" jdbcType="DECIMAL"/>
        <result property="workContent" column="WORK_CONTENT" jdbcType="VARCHAR"/>
        <result property="planId" column="PLAN_ID" jdbcType="VARCHAR"/>
        <result property="seqNum" column="SEQ_NUM" jdbcType="VARCHAR"/>
        <result property="abnId" column="ABN_ID" jdbcType="VARCHAR"/>
        <result property="failureLedgerId" column="FAILURE_LEDGER_ID" jdbcType="VARCHAR"/>
        <result property="acceptRecord" column="ACCEPT_RECORD" jdbcType="VARCHAR"/>
        <result property="startDate" column="START_DATE" jdbcType="VARCHAR"/>
        <result property="finishDate" column="FINISH_DATE" jdbcType="VARCHAR"/>
        <result property="position" column="POSITION" jdbcType="VARCHAR"/>
        <result property="phenomenon" column="PHENOMENON" jdbcType="VARCHAR"/>
        <result property="badReason" column="BAD_REASON" jdbcType="VARCHAR"/>
        <result property="suggestConstructTeam" column="SUGGEST_CONSTRUCT_TEAM" jdbcType="VARCHAR"/>
        <result property="suggestUnitName" column="SUGGEST_UNIT_NAME" jdbcType="VARCHAR"/>
        <result property="inchargeMan" column="INCHARGE_MAN" jdbcType="VARCHAR"/>
        <result property="actSquadCode" column="ACT_SQUAD_CODE" jdbcType="VARCHAR"/>
        <result property="actSquadName" column="ACT_SQUAD_NAME" jdbcType="VARCHAR"/>
        <result property="constructUnit" column="CONSTRUCT_UNIT" jdbcType="VARCHAR"/>
        <result property="workContentAppend" column="WORK_CONTENT_APPEND" jdbcType="VARCHAR"/>
        <result property="dealMode" column="DEAL_MODE" jdbcType="VARCHAR"/>
        <result property="overtimeManhour" column="OVERTIME_MANHOUR" jdbcType="DECIMAL"/>
        <result property="finishNum" column="FINISH_NUM" jdbcType="DECIMAL"/>
        <result property="payAmount" column="PAY_AMOUNT" jdbcType="DECIMAL"/>
        <result property="payDate" column="PAY_DATE" jdbcType="VARCHAR"/>
        <result property="accordFlag" column="ACCORD_FLAG" jdbcType="VARCHAR"/>
        <result property="bonus" column="BONUS" jdbcType="VARCHAR"/>
        <result property="infoBackCode" column="INFO_BACK_CODE" jdbcType="VARCHAR"/>
        <result property="rebukeStatus" column="REBUKE_STATUS" jdbcType="VARCHAR"/>
        <result property="fallbackReason" column="FALLBACK_REASON" jdbcType="VARCHAR"/>
        <result property="environRatio" column="ENVIRON_RATIO" jdbcType="VARCHAR"/>
        <result property="heightRatio" column="HEIGHT_RATIO" jdbcType="VARCHAR"/>
        <result property="techDifficulty" column="TECH_DIFFICULTY" jdbcType="VARCHAR"/>
        <result property="delayCompensation" column="DELAY_COMPENSATION" jdbcType="VARCHAR"/>
        <result property="quotaAmount" column="QUOTA_AMOUNT" jdbcType="DECIMAL"/>
        <result property="contractMoney" column="CONTRACT_MONEY" jdbcType="DECIMAL"/>
        <result property="punish" column="PUNISH" jdbcType="DECIMAL"/>
        <result property="reward" column="REWARD" jdbcType="DECIMAL"/>
        <result property="finishableFlag" column="FINISHABLE_FLAG" jdbcType="VARCHAR"/>
        <result property="printableFlag" column="PRINTABLE_FLAG" jdbcType="VARCHAR"/>
        <result property="totalSettleDate" column="TOTAL_SETTLE_DATE" jdbcType="VARCHAR"/>
        <result property="overhaulPrjId" column="OVERHAUL_PRJ_ID" jdbcType="VARCHAR"/>
        <result property="crucialFlag" column="CRUCIAL_FLAG" jdbcType="VARCHAR"/>
        <result property="manufactureJobId" column="MANUFACTURE_JOB_ID" jdbcType="VARCHAR"/>
        <result property="confirmJobId" column="CONFIRM_JOB_ID" jdbcType="VARCHAR"/>
        <result property="combEntrustId" column="COMB_ENTRUST_ID" jdbcType="VARCHAR"/>
        <result property="combProjectName" column="COMB_PROJECT_NAME" jdbcType="VARCHAR"/>
        <result property="mergeFlag" column="MERGE_FLAG" jdbcType="VARCHAR"/>
        <result property="printFlag" column="PRINT_FLAG" jdbcType="VARCHAR"/>
        <result property="printTime" column="PRINT_TIME" jdbcType="VARCHAR"/>
        <result property="printMan" column="PRINT_MAN" jdbcType="VARCHAR"/>
        <result property="printUser" column="PRINT_USER" jdbcType="VARCHAR"/>
        <result property="docId" column="DOC_ID" jdbcType="DECIMAL"/>
        <result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR"/>
        <result property="createDeptId" column="CREATE_DEPT_ID" jdbcType="VARCHAR"/>
        <result property="createDeptName" column="CREATE_DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="recCreateJobId" column="REC_CREATE_JOB_ID" jdbcType="VARCHAR"/>
        <result property="backCol1" column="BACK_COL_1" jdbcType="VARCHAR"/>
        <result property="backCol2" column="BACK_COL_2" jdbcType="VARCHAR"/>
        <result property="backCol3" column="BACK_COL_3" jdbcType="VARCHAR"/>
        <result property="backCol4" column="BACK_COL_4" jdbcType="VARCHAR"/>
        <result property="backCol5" column="BACK_COL_5" jdbcType="VARCHAR"/>
        <result property="backCol6" column="BACK_COL_6" jdbcType="VARCHAR"/>
        <result property="backCol7" column="BACK_COL_7" jdbcType="VARCHAR"/>
        <result property="backCol8" column="BACK_COL_8" jdbcType="VARCHAR"/>
        <result property="backCol9" column="BACK_COL_9" jdbcType="VARCHAR"/>
        <result property="backCol10" column="BACK_COL_10" jdbcType="DECIMAL"/>
        <result property="backCol11" column="BACK_COL_11" jdbcType="DECIMAL"/>
        <result property="backCol12" column="BACK_COL_12" jdbcType="DECIMAL"/>
        <result property="auditUserId" column="AUDIT_USER_ID" jdbcType="VARCHAR"/>
        <result property="auditJobId" column="AUDIT_JOB_ID" jdbcType="VARCHAR"/>
        <result property="auditUserName" column="AUDIT_USER_NAME" jdbcType="VARCHAR"/>
        <result property="auditLevel" column="AUDIT_LEVEL" jdbcType="VARCHAR"/>
        <result property="auditStatus" column="AUDIT_STATUS" jdbcType="VARCHAR"/>
        <result property="auditDate" column="AUDIT_DATE" jdbcType="VARCHAR"/>
        <result property="auditOpinion" column="AUDIT_OPINION" jdbcType="VARCHAR"/>
        <result property="auditLog" column="AUDIT_LOG" jdbcType="VARCHAR"/>
        <result property="recCreator" column="REC_CREATOR" jdbcType="VARCHAR"/>
        <result property="recCreatorName" column="REC_CREATOR_NAME" jdbcType="VARCHAR"/>
        <result property="recCreateTime" column="REC_CREATE_TIME" jdbcType="VARCHAR"/>
        <result property="recRevisor" column="REC_REVISOR" jdbcType="VARCHAR"/>
        <result property="recRevisorName" column="REC_REVISOR_NAME" jdbcType="VARCHAR"/>
        <result property="recReviseTime" column="REC_REVISE_TIME" jdbcType="VARCHAR"/>
        <result property="archiveFlag" column="ARCHIVE_FLAG" jdbcType="VARCHAR"/>
        <result property="archiveTime" column="ARCHIVE_TIME" jdbcType="VARCHAR"/>
        <result property="archiveStampNo" column="ARCHIVE_STAMP_NO" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="processInstanceId" column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR"/>
        <result property="heightProp" column="HEIGHT_PROP" jdbcType="VARCHAR"/>
        <result property="moveOutReason" column="MOVE_OUT_REASON" jdbcType="VARCHAR"/>
        <result property="planName" column="PLAN_NAME" jdbcType="VARCHAR"/>
        <result property="backCol13" column="BACK_COL_13" jdbcType="VARCHAR"/>
        <result property="backCol14" column="BACK_COL_14" jdbcType="VARCHAR"/>
        <result property="backCol15" column="BACK_COL_15" jdbcType="VARCHAR"/>
        <result property="backCol16" column="BACK_COL_16" jdbcType="VARCHAR"/>
        <result property="backCol17" column="BACK_COL_17" jdbcType="VARCHAR"/>
        <result property="backCol18" column="BACK_COL_18" jdbcType="VARCHAR"/>
        <result property="backCol19" column="BACK_COL_19" jdbcType="VARCHAR"/>
        <result property="backCol20" column="BACK_COL_20" jdbcType="VARCHAR"/>
        <result property="backCol21" column="BACK_COL_21" jdbcType="VARCHAR"/>
        <result property="backCol22" column="BACK_COL_22" jdbcType="VARCHAR"/>
        <result property="backCol23" column="BACK_COL_23" jdbcType="VARCHAR"/>
        <result property="constructTypeH" column="CONSTRUCT_TYPE_H" jdbcType="VARCHAR"/>
        <result property="backCol24" column="BACK_COL_24" jdbcType="DECIMAL"/>
        <result property="backCol25" column="BACK_COL_25" jdbcType="DECIMAL"/>
        <result property="backCol26" column="BACK_COL_26" jdbcType="DECIMAL"/>
        <result property="backCol27" column="BACK_COL_27" jdbcType="DECIMAL"/>
        <result property="backCol28" column="BACK_COL_28" jdbcType="DECIMAL"/>
        <result property="backCol29" column="BACK_COL_29" jdbcType="VARCHAR"/>
        <result property="backCol30" column="BACK_COL_30" jdbcType="VARCHAR"/>
        <result property="backCol31" column="BACK_COL_31" jdbcType="VARCHAR"/>
        <result property="backCol32" column="BACK_COL_32" jdbcType="VARCHAR"/>
        <result property="backCol33" column="BACK_COL_33" jdbcType="VARCHAR"/>
        <result property="backCol34" column="BACK_COL_34" jdbcType="VARCHAR"/>
        <result property="backCol35" column="BACK_COL_35" jdbcType="VARCHAR"/>
        <result property="backCol36" column="BACK_COL_36" jdbcType="DECIMAL"/>
        <result property="backCol37" column="BACK_COL_37" jdbcType="DECIMAL"/>
        <result property="backCol38" column="BACK_COL_38" jdbcType="DECIMAL"/>
        <result property="backCol39" column="BACK_COL_39" jdbcType="DECIMAL"/>
        <result property="backCol40" column="BACK_COL_40" jdbcType="DECIMAL"/>
        <result property="backCol41" column="BACK_COL_41" jdbcType="DECIMAL"/>
        <result property="backCol42" column="BACK_COL_42" jdbcType="DECIMAL"/>
        <result property="backCol43" column="BACK_COL_43" jdbcType="DECIMAL"/>
        <result property="backCol44" column="BACK_COL_44" jdbcType="DECIMAL"/>
        <result property="backCol45" column="BACK_COL_45" jdbcType="DECIMAL"/>
        <result property="backCol46" column="BACK_COL_46" jdbcType="VARCHAR"/>
        <result property="backCol47" column="BACK_COL_47" jdbcType="VARCHAR"/>
        <result property="backCol48" column="BACK_COL_48" jdbcType="VARCHAR"/>
        <result property="bagId" column="BAG_ID" jdbcType="VARCHAR"/>
        <result property="globalTotalFee" column="GLOBAL_TOTAL_FEE" jdbcType="DECIMAL"/>
        <result property="tenantId" column="TENANT_ID" jdbcType="BIGINT"/>
    </resultMap>


</mapper>
